<a href="https://colab.research.google.com/github/AAmbuj/Python_Simple_program/blob/main/Python_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum([i**2 for i in range(3)])

5

In [ ]:
sum([i for i in range(10) if i%2==1])

25

In [ ]:
sum([i**2 for i in range(3)])

5

In [ ]:
filname="input.txt"
for line in open(filename):
  print(line)

ambuj singh kushwaha

you are best

In [ ]:
for line in open(filname):
  line=line.rstrip()
  print(line)

ambuj singh kushwaha
you are best

In [ ]:
for line in open(filname):
  line=line.rstrip().split(" ")
  print(line)

['ambuj', 'singh', 'kushwaha']
['you', 'are', 'best']

In [ ]:
F=open("input.txt","w")
F.write("python\n")
F.close()

In [ ]:
F = open("input.txt", "w")
F.write("Hello\nWorld")
F.close()
lines = []
for line in open("input.txt"):
    lines.append(line.strip())
print(lines)

['Hello', 'World']

In [ ]:
def add(a,b):
  return a+b

add(5,7)

12

In [ ]:
def add_sub(a,b):
  add=a+b
  sub=a-b
  return(add,sub)

add_sub(15,10)

(25, 5)

In [ ]:
def modify(mylist):
  for i in range(len(mylist)):
    mylist[i]*=10

List=[1,3,5,7,9,11,13,]
modify(List)
List

[10, 30, 50, 70, 90, 110, 130]

In [ ]:
def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]
M = modify(L)
M is L

True

In [ ]:
import random
def password(length):
  paw=str()
  char="ambujsinghkushwaha"
  for i in range(length):
    paw=paw + random.choice(char)
  return paw

password(10)

'hmsmijjkhh'

In [ ]:
def intersect(s1,s2):
  res=[]
  for x in s1:
    if x in s2:
      res.append(x)
  return(res)

intersect([1,2,3,4,5,6],[0,1,2,3,5,8])

[1, 2, 3, 5]

In [ ]:
def is_vowel(letter):
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

is_vowel("a")

True

In [ ]:
def is_vowel(letter):
    if type(letter) == int:
        letter = str(letter)
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

is_vowel(4)

False

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    N=1
    for i in range(1,n+1):
      N=N * i
    return(N)

factorial(5)

120